<div>
    <div>
        <input (keyup)='onChange($event)' type='text'>
        <button> Search </button>
    </div>
    <div>
        <ul>
            <li
                *ngFor="let product of products | slice: currentPage*productsAmount : (currentPage+1)*productsAmount; let i = index">
                {{i}} {{product.title}}
            </li>
        </ul>
    </div>
    <footer>
        <button *ngIf='currentPage > 0' (click)='prevPage()'>Prev</button>
        <button *ngIf='!endOfPage()' (click)='nextPage()'>Next</button>
    </footer>
</div>